absl-py==2.1.0
adagio==0.2.6
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
alembic==1.13.2
annotated-types==0.7.0
anyio==4.4.0
appdirs==1.4.4
appnope==0.1.4
APScheduler==3.10.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
attrs==24.2.0
axial_positional_embedding==0.3.12
babel==2.16.0
beartype==0.20.2
beautifulsoup4==4.12.3
bleach==6.1.0
blinker==1.9.0
blis==1.2.1
bokeh==3.5.2
bottle==0.13.2
cachetools==5.5.0
captum==0.7.0
catalogue==2.0.10
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
clarabel==0.9.0
click==8.1.7
cloudpathlib==0.21.0
cloudpickle==3.0.0
cmdstanpy==1.2.4
colorlog==6.8.2
CoLT5-attention==0.11.1
comm==0.2.2
confection==0.1.5
contourpy==1.3.0
coreforecast==0.0.12
croniter==6.0.0
cvxpy==1.6.0
cycler==0.12.1
cymem==2.0.11
Cython==3.0.11
dash==3.0.4
databricks-sdk==0.38.0
datasetsforecast==0.0.8
debugpy==1.8.5
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.15
dill==0.4.0
diskcache==5.6.3
docker==7.1.0
duckdb==1.3.2
einops==0.8.1
et_xmlfile==2.0.0
executing==2.1.0
fastai==2.7.19
fastapi==0.108.0
fastcore==1.7.29
fastdownload==0.0.7
fastjsonschema==2.20.0
fastprogress==1.0.3
fasttransform==0.0.2
filelock==3.16.0
Flask==3.0.3
flatbuffers==24.12.23
fonttools==4.53.1
fqdn==1.5.1
frozenlist==1.4.1
fs==2.4.16
fsspec==2024.9.0
fugue==0.9.1
gast==0.6.0
gitdb==4.0.11
GitPython==3.1.43
google-auth==2.36.0
google-pasta==0.2.0
graphene==3.4.3
graphql-core==3.2.5
graphql-relay==3.2.0
grpcio==1.66.1
gunicorn==21.2.0
h11==0.14.0
h5py==3.12.1
holidays==0.56
httpcore==1.0.5
httpx==0.27.2
hyper-connections==0.1.15
idna==3.8
imbalanced-learn==0.13.0
importlib_metadata==8.5.0
importlib_resources==6.4.5
iniconfig==2.1.0
ipykernel==6.29.5
ipython==8.27.0
ipywidgets==8.1.5
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
joblib==1.4.2
jpype1==1.6.0
json5==0.9.25
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.5
jupyterlab-optuna==0.1.0
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
kaggle==1.7.4.5
kaleido==0.2.1
keras==3.7.0
kiwisolver==1.4.7
langcodes==3.5.0
language_data==1.3.0
lark-oapi==1.4.23
libclang==18.1.1
lightgbm==4.5.0
lightning==2.5.1.post0
lightning-utilities==0.11.7
littleutils==0.2.4
livelossplot==0.5.5
llvmlite==0.43.0
local-attention==1.11.1
loguru==0.7.3
Mako==1.3.5
marisa-trie==1.2.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.0.2
ml-dtypes==0.4.1
mlflow==2.18.0
mlflow-skinny==2.18.0
mlforecast==0.13.4
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
murmurhash==1.0.12
namex==0.0.8
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.3
neuralforecast==1.7.4
neuralprophet==0.9.0
notebook==7.2.2
notebook_shim==0.2.4
numba==0.60.0
numpy==1.26.4
nvidia-ml-py3==7.352.0
nvidia-smi==0.1.3
openpyxl==3.1.5
opentelemetry-api==1.28.2
opentelemetry-sdk==1.28.2
opentelemetry-semantic-conventions==0.49b2
opt_einsum==3.4.0
optree==0.13.1
optuna==4.0.0
optuna-dashboard==0.17.0
osqp==0.6.7.post3
overrides==7.7.0
packaging==24.1
pandas==2.3.0
pandocfilters==1.5.1
parso==0.8.4
patool==4.0.1
patsy==0.5.6
pexpect==4.9.0
pillow==10.4.0
pipe==2.2
platformdirs==4.3.2
plotly==5.24.1
pluggy==1.6.0
plum-dispatch==2.5.7
pmdarima==2.0.4
preshed==3.0.9
product_key_memory==0.2.11
prometheus_client==0.20.0
prompt_toolkit==3.0.47
prophet==1.1.5
protobuf==5.28.0
psutil==7.0.0
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pure_eval==0.2.3
py4j==0.10.9.9
pyarrow==17.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pycryptodome==3.23.0
pydantic==2.6.4
pydantic_core==2.16.3
Pygments==2.18.0
pyparsing==3.1.4
pypmml==1.5.6
pytest==8.4.1
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
python-slugify==8.0.4
pytorch-forecasting==1.3.0
pytorch-lightning==2.4.0
pyts==0.13.0
pytz==2024.1
PyYAML==6.0.2
pyzmq==26.2.0
qdldl==0.1.7.post4
ray==2.35.0
referencing==0.35.1
reformer-pytorch==1.4.4
requests==2.32.3
requests-toolbelt==1.0.0
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rpds-py==0.20.0
rsa==4.9
scikit-base==0.12.0
scikit-learn==1.6.1
scipy==1.14.1
scs==3.2.7
seaborn==0.13.2
Send2Trash==1.8.3
shap==0.46.0
shellingham==1.5.4
six==1.16.0
skforecast==0.14.0
sklearn-compat==0.1.3
sklearn-pandas==2.2.0
sklearn2pmml==0.121.0
sktime==0.35.0
slicer==0.0.8
smart-open==7.1.0
smmap==5.0.1
sniffio==1.3.1
sorcery==0.2.2
soupsieve==2.6
spacy==3.8.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.31
sqlparse==0.5.2
srsly==2.5.1
stack-data==0.6.3
stanio==0.5.1
starlette==0.32.0.post1
statsforecast==1.7.6
statsmodels==0.14.2
sympy==1.14.0
tenacity==9.0.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
tensorflow==2.18.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.5.0
terminado==0.18.1
text-unidecode==1.3
thinc==8.3.4
threadpoolctl==3.5.0
timeout-decorator==0.5.0
tinycss2==1.3.0
torch==2.8.0
torchmetrics==1.4.1
torchvision==0.20.1
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
triad==0.9.8
tsai==0.4.0
typer==0.15.3
types-python-dateutil==2.9.0.20240906
typing-inspection==0.4.0
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==5.3.1
uri-template==1.3.0
urllib3==2.2.2
utilsforecast==0.2.4
uvicorn==0.29.0
wasabi==1.1.3
wcwidth==0.2.13
weasel==0.4.1
webcolors==24.8.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.0.6
widgetsnbextension==4.0.13
window_ops==0.0.15
wrapt==1.17.0
xgboost==3.0.0
xlrd==2.0.1
xyzservices==2024.9.0
yarl==1.11.1
zipp==3.21.0
